@tailwind base;
@tailwind utilities;
@tailwind components;

html,
body {
  background-color: #c8c2c1;
}

.bg-eminence {
  background-color:  #bb60c5;
}

.bg-eminencehover:hover {
  background-color:  #78477e;
  color: white;
}

.bg-offwhite {
  background-color:  #DBD4D3;
}
